<ion-header>
  <ion-toolbar>
    <ion-title>cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <form [formGroup]="cadastroForm">
            <ion-card-header>
               <ion-item lines="none" color="dark">
                 <label class="meio">CADASTRO DE PRODUTOSS</label>
               </ion-item>
             </ion-card-header>

             <ion-card-content>
               <ion-item>
                 <ion-label position="floating">Nome</ion-label>
                 <ion-input  id="nome" formControlName="nome"></ion-input>
                </ion-item> 
                 <ng-container *ngFor="let erro of menssagensErro.nome">
                   <span class="msg-erro" *ngIf="nome.errors?.[erro.tipo] && (nome.dirty || nome.touched)" >
                     {{erro.aviso}} 
                   </span>  
                 </ng-container>
               
               
               <ion-item>
                 <ion-label position="floating">Descrição</ion-label>
                 <ion-input id="descricao" formControlName="descricao"></ion-input>

                 
                 <ng-container *ngFor="let erro of menssagensErro.descricao">
                   <span class="msg-erro" *ngIf="descricao.errors?.[erro.tipo] && (descricao.dirty || descricao.touched)" >
                     {{erro.aviso}} 
                   </span>   
                 </ng-container> 

               </ion-item>
               
               <ion-item>
                 <ion-label>Data Validade</ion-label>
                 <br>
                 <ion-datetime
                    presentation="date" id="dataValidade" formControlName="dataValidade"
                  ></ion-datetime>

                
                 <ng-container *ngFor="let erro of menssagensErro.dataValidade">
                   <span class="msg-erro" *ngIf="dataValidade.errors?.[erro.tipo] && (dataValidade.dirty || dataValidade.touched)" >
                     {{erro.aviso}} 
                   </span>   
                 </ng-container>

               </ion-item>
               
               <ion-item>
                 <ion-label position="floating">Preço</ion-label>
                 <ion-input type="number" id="preco" formControlName="preco"></ion-input>

                
                 <ng-container *ngFor="let erro of menssagensErro.preco">
                   <span class="msg-erro" *ngIf="preco.errors?.[erro.tipo] && (preco.dirty || preco.touched)" >
                     {{erro.aviso}} 
                   </span>   
                 </ng-container>

               </ion-item>
    
             </ion-card-content>
      </form> 
   </ion-card>

  <ion-footer [translucent]="true">
    <ion-toolbar>
      <ion-button expand="full" (click)="salvar()">Salvar</ion-button> 
    </ion-toolbar>
  </ion-footer>
</ion-content>
