<ion-header>
  <ion-toolbar color="vermelhoetec">
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="">

  <ion-img src="https://blogjack.blob.core.windows.net/medias/2020/06/hello-world.jpeg" alt="Hello Word"></ion-img>

  <ion-card>
    <form [formGroup]="loginForm">
      <ion-card-header>
        <ion-item style="flex-direction: colum">
          <ion-label position="floating">Email</ion-label>
          <ion-input placeholder="Enter text" type="email"  id="email" formControlName="email"></ion-input>  

          <ng-container *ngFor="let erro of menssagensErro.email">
            <span class="msg-erro" *ngIf="email.errors?.[erro.tipo] && (email.dirty || email.touched)" >
               {{erro.aviso}} 
            </span>   
          </ng-container>

        </ion-item>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Senha</ion-label>
          <ion-input placeholder="Enter text" type="password" id="senha" formControlName="senha"></ion-input>

          <ng-container *ngFor="let erro of menssagensErro.senha">
            <span class="msg-erro" *ngIf="senha.errors?.[erro.tipo] && (senha.dirty || senha.touched)" >
               {{erro.aviso}} 
            </span>   
          </ng-container>
          
        </ion-item>
      </ion-card-content>

      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <ion-button expand="full" color="dark">Entrar</ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button expand="full" color="dark">Registrar</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-button expand="full" color="dark">Esqueci a Senha</ion-button>
    </form>
  </ion-card>
</ion-content>